
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    overflow-x: hidden;
  }

  .main {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: 100vh;
    width: 100vw;
  }



  .child {
    flex: 1;
    box-shadow: 3px 3px 8px #878787;
    /* Each child takes up an equal amount of space */
    height: 70px;
    /* Set the height as needed */
    display: flex;
    /* Adjust margin for spacing between child divs */
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* Takes 10% width */
    background-color: rgb(255, 255, 255);
    /* Add styling as desired */
  }

  .right2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    /* Takes 10% width */
    background-color: rgb(255, 255, 255);
    /* Add styling as desired */
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    white-space: nowrap;
    flex: 7;
    /* Takes the remaining 90% width */
    background-color: rgb(255, 255, 255);
    /* Add styling as desired */
    /* Adjust margin for spacing between child divs */
  }

  input[type="text"]:focus {
    outline: none;
    background-color: transparent;
  }

  input[type="text"] {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    caret-color: black;
    color: black !important;
    border: none;
    outline: none;
    background-color: transparent;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type="date"] {
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
  }

  .firstchild {
    border-radius: 10px 0 0 10px;
  }

  .lastchild {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
  }
  .hoverdropdown2:hover{
    cursor: pointer;
  }
  .hoverdropdown:hover,
  .lastchild:hover {
    cursor: pointer;
  }
 

  input::placeholder {
    color: #000000;
    /* Specify your desired color */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    max-height: 300px;
    /* Set the maximum height for scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling if content exceeds the max height */
  }

  /* Style each station name item */
  .dropdown-content a {
    text-decoration: none;
    padding: 8px 16px;
    color: black;
    display: block;
    transition: background-color 0.3s;
  }

  /* Add hover effect for each item */
  .dropdown-content a:hover {
    background-color: #ccc;
  }

  .search-area {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
  }

  .search-box {
    width: 80vw;
    margin-top: 40vh;
    background-color: transparent;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-in-search {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .text-in-search h3 {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: grey;
  }

  .text-in-search h1 {
    font-family: "Montserrat", sans-serif;

  }

  .below-search-area {
    position: relative;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .available-train {
    display: flex;
    width: 80vw;
    position: relative;
    height: 10vh;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .available-train h3 {
    float: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-weight: 500;
  }

  .below-search-area {
    position: relative;
    display: flex;
    width: 100vw;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .available-train {
    display: flex;
    width: 90vw;
    position: relative;
    height: 10vh;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .available-train h3 {
    float: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px;
    font-weight: 500;
  }

  .available-train-table {
    position: relative;
    width: 90vw;
    height: auto;
    margin-top: 2vh;
  }

  .table {
    width: 100%;
    color: #404040;
    font-size: 0.9rem;
    font-weight: 400;
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
  }

  thead {
    display: table-header-group;
    box-sizing: border-box;
  }

  .table th {
    padding-bottom: 2vh;
    font-weight: 600;
    word-wrap: break-word;
  }

  th {
    text-align: left;
    font-size: 0.9rem
  }

  .odd {
    line-height: 2.2rem;
  }

  .button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid black;
    border-radius: 10px;
    
    color:black;
    text-decoration: none;
  }
  .button:hover{
    color:white;
    background-color: black;
  }